In [1]:
import os
filevar = os.path.join("weather_data", "cities.csv")

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Eenhana,NaN,2021-09-26 02:32:42,-17.4667,16.3333,67.75,20,0,7.87
1,1,Mount Gambier,AU,2021-09-26 02:32:42,-37.8333,140.7667,53.51,58,90,8.05
2,2,Novyy Urengoy,RU,2021-09-26 02:32:42,66.0833,76.6333,34.47,77,7,6.40
3,3,Sungaipenuh,ID,2021-09-26 02:32:43,-2.0833,101.3833,66.51,97,100,1.36
4,4,Hit,IQ,2021-09-26 02:32:43,33.6416,42.8251,70.27,27,0,11.34

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature - used list comprehension instead. 
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Cravo Norte,CO,2021-09-26 02:32:43,6.3017,-70.2041,76.08,85,27,4.34
7,7,Bilma,NE,2021-09-26 02:32:44,18.6853,12.9164,81.36,22,1,10.18
10,10,Olinda,BR,2021-09-26 02:32:45,-8.0089,-34.8553,76.73,73,40,10.36
12,12,Port-Gentil,GA,2021-09-26 02:32:46,-0.7193,8.7815,76.80,88,100,11.01
13,13,Aquiraz,BR,2021-09-26 02:32:46,-3.9014,-38.3911,80.69,82,18,15.66
15,15,Alofi,NU,2021-09-26 02:32:47,-19.0595,-169.9187,78.69,53,25,5.75
16,16,Palm Beach,US,2021-09-26 02:32:47,26.6503,-80.4498,82.42,89,2,6.35
17,17,Coahuayana,MX,2021-09-26 02:32:47,18.7333,-103.6833,79.05,90,100,2.48
19,19,Bathsheba,BB,2021-09-26 02:32:48,13.2167,-59.5167,79.41,89,40,4.61
24,24,Tabou,CI,2021-09-26 02:32:50,4.4230,-7.3528,76.44,90,100,9.33

In [27]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
5   Cravo Norte      CO     76.08   6.3017  -70.2041
7         Bilma      NE     81.36  18.6853   12.9164
10       Olinda      BR     76.73  -8.0089  -34.8553
12  Port-Gentil      GA     76.80  -0.7193    8.7815
13      Aquiraz      BR     80.69  -3.9014  -38.3911
15        Alofi      NU     78.69 -19.0595 -169.9187
16   Palm Beach      US     82.42  26.6503  -80.4498
17   Coahuayana      MX     79.05  18.7333 -103.6833
19    Bathsheba      BB     79.41  13.2167  -59.5167
24        Tabou      CI     76.44   4.4230   -7.3528

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [36]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Cravo Norte,CO,76.08,6.3017,-70.2041,Hotel Potosí Los Mirtos
7,Bilma,NE,81.36,18.6853,12.9164,Expeditions Ténére voyages
10,Olinda,BR,76.73,-8.0089,-34.8553,Hotel Albergue de Olinda
12,Port-Gentil,GA,76.80,-0.7193,8.7815,Fengshui Residence
13,Aquiraz,BR,80.69,-3.9014,-38.3911,Pousada Rua Camurupim
15,Alofi,NU,78.69,-19.0595,-169.9187,Taloa Heights
16,Palm Beach,US,82.42,26.6503,-80.4498,
17,Coahuayana,MX,79.05,18.7333,-103.6833,El rranchito michuacan de ocampos
19,Bathsheba,BB,79.41,13.2167,-59.5167,Atlantis Hotel
24,Tabou,CI,76.44,4.4230,-7.3528,hotêl doufoulougou

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [42]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))