## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,7,Garowe,SO,78.08,clear sky,8.4054,48.4845,Curubo Hotel
1,11,Bambanglipuro,ID,80.74,broken clouds,-7.9500,110.2833,Puri Brata
2,20,Sao Miguel Do Araguaia,BR,83.55,broken clouds,-13.2750,-50.1628,Hotel Executivo Palace
3,23,Kapaa,US,81.19,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,24,Hithadhoo,MV,82.20,overcast clouds,-0.6000,73.0833,Scoop Guest House

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== "Uthal"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Uthal"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Khuzdar"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Dalbandin"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Ormara"]

In [7]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
54,231,Uthal,PK,83.26,few clouds,25.8072,66.6219,Al-Mustafa Hotel

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
start = start[0,5],start[0,6]
end = vacation_end.to_numpy()
end = end[0,5],end[0,6]
stop1 = vacation_stop1.to_numpy()
stop1 = stop1[0,5],stop1[0,6]
stop2 = vacation_stop2.to_numpy()
stop2 = stop2[0,5],stop2[0,6]
stop3 = vacation_stop3.to_numpy()
stop3 = stop3[0,5],stop3[0,6]

In [10]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
start2end = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(start2end)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,231,Uthal,PK,83.26,few clouds,25.8072,66.6219,Al-Mustafa Hotel
1,650,Khuzdar,PK,76.75,few clouds,27.7384,66.6434,jhalwan Rent A Car Moola Chotok Boking Office
2,214,Dalbandin,PK,78.46,clear sky,28.8947,64.4101,Gidaan Guest House
3,141,Ormara,PK,81.63,scattered clouds,25.2088,64.6357,Crystal Beach and Camping Resort Ormara

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(28.0, 65.0), zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))